[2022-08-13 14:32] PritamSarbajna opened #2 "[IMPROVEMENT] : Links are opening in same tab"
Hey in the website when clicking  _Be a part of us_ section's any links they are opening in the same tab. If it opens in another tab it'd be great. If you think it's a valid issue feel free to assign me.

https://user-images.githubusercontent.com/90236635/184498664-8a110e67-aeda-4021-9f48-55ba199f0fb3.mp4

[2022-08-13 14:39] DeveloperAshish8 commented on #2
Go for it Pritam

[2022-08-14 07:18] #2 closed

[2022-08-29 12:46] I-sandesh opened #4 "Icons"

[2022-08-30 12:20] #4 closed

[2022-09-21 13:47] DeveloperAshish8 opened #15 "Stylish hover effect for navbar in home page 🧑‍💻."
A hover effect which you think would enhance the user experience.

**Please attach the image if you create a pull request for this issue.**

[2022-09-24 05:16] Aman0786-git opened #17 "Opportunities section card's content and buttons are not alligned"
Can you please assign me will fix it

[2022-09-25 19:43] DeveloperAshish8 opened #18 "Adding social media icons with hover effect in footer section"
Please include an image in your pull request if assigned

[2022-09-25 19:45] DeveloperAshish8 opened #19 "Enhancing the UI of Intership section for better user experience ✌️."
Please include the image in the pull request if assigned.

[2022-09-25 19:47] DeveloperAshish8 commented on #15
closed with PR #16

[2022-09-25 19:47] #15 closed

[2022-09-25 19:51] abitsalihu commented on #18
Hey @DeveloperAshish8, I would like to work on this issue. :)

[2022-09-25 19:59] DeveloperAshish8 opened #20 "Adding entertaining preloader in the website 🧑‍💻"
Please attach an image in the pull request if you are assigned for this issue.

[2022-09-25 20:01] DeveloperAshish8 commented on #18
Ok @abitsalihu , but we will be accepting PR from 1st October as this is a dedicated issue for hacktoberfest.

[2022-09-25 20:06] abitsalihu commented on #18
@DeveloperAshish8 Okay that works for me, just assign me when u want if finished. :)

[2022-09-25 20:08] DeveloperAshish8 opened #21 "Making "WHY TO JOIN" section responsive for 601 X 1080 to 990 X 1080 screens."
Please attach an image or video in the PR if your are assigned for this issue.

[2022-09-26 05:08] Anurag607 commented on #19
I would like to work on this issue

[2022-09-26 05:13] RathoreAbhiii commented on #18
Can I work on this as well @DeveloperAshish8 ?

[2022-09-26 06:34] BinniesLite commented on #18
Hi, I would like to work on this issue too

[2022-09-26 07:27] BinniesLite commented on #21
Hi, I would like to work on this issue

[2022-09-26 07:51] Aman-0604 commented on #21
I would like to this. @DeveloperAshish8 can you assign it to me.

[2022-09-26 09:01] divyanshraj0408 commented on #20
Hey! this seems interesting, i would like to work on this issue for Hacktoberfest.

[2022-09-26 09:11] melencholicmice commented on #20
Hello , I would like to work on this issue for Hacktoberfest

[2022-09-26 09:19] devilkiller-ag commented on #18
Can I work on this?

[2022-09-26 14:24] Aman-Singh-Kushwaha opened #22 "Adding a resources page"
This will help the community members to stay on the right track, we will take that it would be free.

If agreed please assign it to me once the event gets started, I am participating in HacktoberFest

[2022-09-26 15:35] Arghya-Banerjee commented on #17
I would love to work on this issue, can you kidly assign me this issue?

[2022-09-26 18:44] ShravaniAK commented on #19
please assign me this issue

[2022-09-26 19:56] DeveloperAshish8 commented on #21
Sure @Aman-0604 , I will be assigning you this issue on 30th Sep till than explore the project more.

[2022-09-26 19:58] DeveloperAshish8 commented on #20
Sure @divyanshraj0408 , I will be assigning you this issue on 30th Sep till than explore the project more and join us on discord for more contribution chats.

[2022-09-26 20:02] DeveloperAshish8 commented on #19
Sure @ShravaniAK , I will be assigning this issue on 30th sep till than explore the project more and join the contributors chats on our discord from description.

[2022-09-26 20:04] DeveloperAshish8 commented on #18
I will be assigning for this issue on 30th September, till than explore the project more and join the contribution chat on our discord server.

[2022-09-26 20:08] DeveloperAshish8 commented on #22
Join us on discord @Aman-Singh-Kushwaha , We will talk about resources and then I will be assigning you this issue. The discord link is provided in the website.

[2022-09-26 20:09] DeveloperAshish8 commented on #17
Go for it @Arghya-Banerjee , please attach the screenshots after edits in the PR.

[2022-09-26 20:10] DeveloperAshish8 commented on #17
Go for it @Aman0786-git , please attach the Screenshots after edits in the PR.

[2022-09-27 01:11] Aman-0604 commented on #21
Sure💫

[2022-09-27 03:15] Aman0786-git commented on #17
Sure ;-)

[2022-09-27 09:27] Aman-0604 opened #24 "Improper view of the Team Members section"
## `Issue:` "Our Team Members" section's bottom view is improper. Github link is not visible properly as it can be seen in the screenshot provided below.  Also bottom border of the member card is not visible.

### @DeveloperAshish8  can you assign me the task(on 30th September) to improve this and present a better user view. I will be opening a pull request for the same on `1st October` as the rep

[2022-09-27 10:01] GundaSudarrshan opened #25 "Remove Outdated links for Internships/Jobs Portal"
I would like to contribute this part, @DeveloperAshish8 can you please assign this issue to me
More Information:
Some links in Internships and Jobs portal are outdated and not relevant to mentioned positions
should update it with relevant links or remove those cards whose links are not working anymore

[2022-09-27 10:03] GundaSudarrshan commented on #25
and if this project is in hacktoberfest-22 can you update the labels as well

[2022-09-27 13:01] Shaliniyadav8130 commented on #18
Hello sir, I want to work on this issue. Please assign me this issue

[2022-09-27 13:07] nujovich opened #26 "Improve tech stack icons on readme file"
The icons look like they are not aligned and some of them are expanded. It would be better to fix this so the readme can look more appealing

![image](https://user-images.githubusercontent.com/48018975/192534559-86dbc12f-e3a0-4c11-8f41-b48aabaf3985.png)

[2022-09-27 13:19] nujovich opened #27 "Submit button in Contact section has no labeled name"
The submit button has no value tag set, so the browser sets the default value to the pre-configured user's language. In my case is in Spanish

![image](https://user-images.githubusercontent.com/48018975/192537468-38579473-3a3a-4555-b1c2-daa3d25ff774.png)

[2022-09-27 13:20] nujovich commented on #27
Can I get assigned to this issue after Sept 30th? Thanks

[2022-09-28 04:22] DeveloperAshish8 commented on #27
Sorry, this is a minor edit can't me counted for hactoberfest.

[2022-09-28 04:41] DeveloperAshish8 commented on #25
Sorry @GundaSudarrshan , Our team is adding new Internships and removing the old once regularly. So we can,t assign it to you as of now.

[2022-09-28 04:41] #25 closed

[2022-09-28 04:57] DeveloperAshish8 commented on #24
Sorry, @Aman-0604 this is a minor edit we can't add hacktoberfest label to it.

[2022-09-28 05:17] thisisharsh7 opened #28 "Navigation made easier"
When a user enters the **Internships/Jobs page** and clicks the other nav items, such as Events, Team, Opportunities, they are not redirected directly to the specific section, but rather only to the **homepage.**  I'd like to contribute to this issue, can you please assign it to me as part of **Hacktoberfest**?

[2022-09-28 10:43] nujovich opened #29 "Collapse menu when user clicks on any menu options"
Currently, for mobile devices, when users click on any option from the menu, the application goes to that section but the menu doesn't collapse. It would be better that the menu returns to its place for a better user experience

![image](https://user-images.githubusercontent.com/48018975/192759443-e9c2896a-124b-4efe-accb-f61ba233aa64.png)

[2022-09-28 10:43] nujovich commented on #29
Can I be assigned to this issue? Thanks

[2022-09-29 04:12] #27 closed

[2022-09-29 04:17] DeveloperAshish8 commented on #29
Go ahead @nujovich

[2022-09-29 06:02] Petsamuel commented on #17
Please assign this task to mee

[2022-09-29 12:46] itsdurgeshray opened #30 "Designing a pre-loader for waiting screens"
Design a dynamic pre-loader for the screens until the main screen launches.

[2022-09-29 12:55] FireNdIce3 commented on #30
Can I work on this issue?

[2022-09-29 13:07] itsdurgeshray commented on #30
Currently, I am working on this issue, you can work on the development once the designs are ready.

[2022-09-29 16:45] Dun-sin opened #32 "Create templates for better maintaining"
I saw this project is open to contributions, and it doesn't have Pull request and issue templates, it makes for you to maintain your projects.

Here are links for reference:
[Pull Request Template](https://learn.microsoft.com/en-us/azure/devops/repos/git/pull-request-templates?view=azure-devops)
[Pull Request and Issue Template](https://bakingclouds.com/multiple-template-choices/)

[2022-09-29 19:32] chaaals opened #33 "paragraph in README file needs some changes (punctuations and delivery)"
Hi @DeveloperAshish8 , sorry if the PR came in first (new to contributing to open source), but I noticed some lapses on the delivery and punctuation of the repo description in the README file. I did some changes in PR #31 . Let me know if you need more or okay with the changes :)).

[2022-09-29 20:50] FireNdIce3 commented on #30
Sure,I would like to develop it !

[2022-09-30 02:27] Janhvi52 commented on #21
![Screenshot (42)](https://user-images.githubusercontent.com/97719669/193176721-48249e46-487a-4269-bce8-339be7856813.png)

@DeveloperAshish8
I would like to make the "why join us" section responsive for all screens as well as i'll make it more appealing too
please assign me the same since i've handled such issues smoothly in the past,help me making my first pr thankyou!

[2022-09-30 02:34] Janhvi52 commented on #20
Hello sir, @DeveloperAshish8
I've handled these kind of issues earlier as well thus i can come up with a more fascination solution to the same .Kindly assign me the issue so that i can start working on it,Thanyou!

[2022-09-30 05:33] Petsamuel commented on #18
Would like to work on this too

[2022-09-30 06:12] DeveloperAshish8 commented on #33
As this is a minor edit, this won't be counted in hacktoberfest @chaaals

[2022-09-30 06:22] DeveloperAshish8 commented on #33
closed with PR #31

[2022-09-30 06:22] #33 closed

[2022-09-30 06:34] Aman-0604 commented on #21
@Janhvi52 I have completed this task successfully and will open a pull request tomorrow.
You can look at other issues.

[2022-09-30 07:00] Janhvi52 commented on #21
No problem, Thanks!

[2022-09-30 07:01] Janhvi52 commented on #21
No problem @Aman-0604  Thanks!

[2022-09-30 07:03] Janhvi52 commented on #19
Hello sir, @DeveloperAshish8
I've handled these kind of issues earlier as well thus i can come up with a more fascination solution to the same .Kindly assign me the issue so that i can start working on it,Thanyou!

[2022-09-30 07:03] Janhvi52 commented on #18
Hello sir, @DeveloperAshish8
I've handled these kind of issues earlier as well thus i can come up with a more fascinating solution to the same .Kindly assign me the issue so that i can start working on it,Thanyou!l

[2022-09-30 08:22] Aman-0604 opened #34 "Enable Dark Mode"
@DeveloperAshish8 Hey, I would like to add `feature of Dark Mode` to your website.

### Why it is necessary ?
According to stats user's loves to visit website websites which has dark mode as it soothes their eyes.
Believe me your website looks awesome in Dark Mode.😉

### Under what label I would like to do this task ?
As this is a very good feature and it enhances beauty of the website, applying t

[2022-09-30 09:38] shivamvishwakarm commented on #34
ok, I want to add this feature to your website.

[2022-09-30 10:37] Aman-0604 commented on #34
@shivamvishwakarm As open source community we all want to contribute to some organisations and projects but it is completely wrong if you want to take away the task which anyone else has raised and is working on.

I have raised this feature and have asked the author to assign it to me.

From next time try to see issues where no one has been assigned or where no one is interested to that issue.

[2022-09-30 16:11] leesha19 opened #35 "improve contact us section"
hey there , i want to improve contact us section as it is not matching with the website theme
and i want to contribute here for hacktoberfest22

[2022-09-30 16:19] leesha19 opened #36 "improve website main part"
<img width="1280" alt="Screenshot 2022-10-02 at 2 01 26 PM" src="https://user-images.githubusercontent.com/88451246/193445318-a4688123-dbb4-49af-bce5-369b6e6a74ca.png">
hey there , i want to make this section more attractive . Please assign me this issue for #hacktoberfest22

[2022-09-30 16:23] leesha19 opened #37 "internship section"
internship section apply now button should be properly assigned and this line
"For more, check out #internship channnel on our Discord Server"
should have padding ,please assign me this issue

[2022-09-30 19:19] YasirObaibullah99 opened #39 "Will improve the footer"
The footer of the website is not looking good on the phone so I can improve the size and UI of it

[2022-09-30 19:24] YasirObaibullah99 opened #40 "will improve Our Team Members section"
In the card of the team member section will add a shadow effect

[2022-09-30 21:42] Pargat-Dhanjal opened #41 "Animate on Scroll"
Modern websites do have AOS or animate on scroll effect, I would love to add this feature to the website. This would make it look as if the site is interactive and is responding to the user as they navigate through.

Also I am open to more contributions to the website and I am willing to contribute to the open source community.

[2022-10-01 02:14] SattyamSamania commented on #18
Hey @DeveloperAshish8. Can you assign this issue to me. I can make hover effect in the footer area. If assigned this issue plz tell further what should I do.

[2022-10-01 02:48] a-1an opened #42 "update readme.md"
images seem distorted, ill work on it.

[2022-10-01 06:43] ShubhamJagtap2000 opened #46 "Improvements in website team member representation"
As I have seen on the website, the LinkedIn profile link of every team member is attached below the photo ID. Just wanted to suggest that you can add the GitHub profile of each member as well besides that LinkedIn profile link with the GitHub logo. It will make the website well documented, look cool and also help build a community larger and help contributors like to navigate to GitHub and see goo

[2022-10-01 06:46] ShubhamJagtap2000 opened #47 "Fix bug in README.md"
In the later part of this repo's README.md I encountered a bug regarding the GitHub profile link of another contributor. The link attached is `https://github.com/DeveloperAshish8/CodeChamp-s-Website/issues/new`, which on redirection tells that it doesn't exist. But
`https://github.com/DeveloperAshish8` is a valid GitHub profile. You can fix this link issue.

[2022-10-01 08:42] Aman-0604 commented on #47
I have already opened a pull request for this !

[2022-10-01 09:09] mritul commented on #47
Can i work on this issue?

[2022-10-01 09:16] Aman-0604 commented on #21
@DeveloperAshish8  I have opened a pull request for the same.

[2022-10-01 11:35] DeveloperAshish8 commented on #34
Go for it @Aman-0604

[2022-10-01 12:20] DeveloperAshish8 commented on #19
Hey @ShravaniAK , please attach an image or video in the PR.

[2022-10-01 12:22] DeveloperAshish8 commented on #37
Issue already exists issue #19.

[2022-10-01 12:22] #37 closed

[2022-10-01 14:14] abughalib opened #51 "Grammar fix"

[2022-10-01 14:14] abughalib commented on #51
Can I work on this?

[2022-10-01 14:29] ShubhamJagtap2000 commented on #46
@DeveloperAshish8 please review it.

[2022-10-01 14:30] lognoroy commented on #18
Sir, I have experience in this, please give me a chance.

[2022-10-01 14:50] #51 closed

[2022-10-01 14:55] krishna-raz commented on #35
Can i work on this issue?

[2022-10-01 16:00] SonakshiChauhan commented on #18
Hello @DeveloperAshish8 I would like to contribute my learning to this project. Please if you could give me a chance.

[2022-10-01 16:13] Aman0786-git commented on #17
@DeveloperAshish8 Can you please add hactoberfest label so that it can be counted and also I am not able to join your discord server I dont know is the link broken ?

[2022-10-01 16:36] DeveloperAshish8 commented on #46
Actually some of our team members doesn't have GitHub profile so , we are keeping a hold on it right now.

[2022-10-01 16:43] DeveloperAshish8 commented on #20
Everyone refer to issue #30 for this, Durgesh is designing the preloader, One who will code the exact Design , I will be merging his/her PR.

[2022-10-01 16:43] Aman0786-git commented on #17
[https://github.com/DeveloperAshish8/CodeChamp-s-Website/pull/57#issue-1393468654](url)
PR review @DeveloperAshish8

[2022-10-01 16:45] DeveloperAshish8 commented on #21
Sure merging soon

[2022-10-01 16:51] DeveloperAshish8 commented on #21
Closed with PR #48

[2022-10-01 16:51] #21 closed

[2022-10-01 17:16] Aman0786-git commented on #17
@DeveloperAshish8 PR Check

[2022-10-01 17:18] ShubhamJagtap2000 commented on #46
Fine.

[2022-10-01 20:53] Aman-0604 commented on #34
@DeveloperAshish8 I have opened a pull request for the same, please check.

[2022-10-02 03:58] #46 closed

[2022-10-02 04:00] DeveloperAshish8 commented on #36
Hey @leesha19 , the screenshot  provided is not visible. Please edit and reshare.

[2022-10-02 05:58] DeveloperAshish8 commented on #34
Closed with PR # 58

[2022-10-02 05:58] #34 closed

[2022-10-02 06:00] nileshlad09 opened #60 "Improve FAQ section"
![image](https://user-images.githubusercontent.com/89249015/193440276-4b666197-82ca-4f26-8738-cdce02b938e4.png)

please assign this issue to me under hacktoberfest2022

[2022-10-02 06:50] Nakamcode opened #61 "[FEATURE] Open graph"
### An open graph is a preview image that shows when a link is shared on social media

An open graph increases the click rate of a link when shared.

_for more info about open graphs read the blog below_
https://ahrefs.com/blog/open-graph-meta-tags/

### This website is missing an open graph
![captures_chrome-capture-2022-9-2 (1)](https://user-images.githubusercontent.com/89482825/193441813-511e87

[2022-10-02 07:00] kushaljgec2025 opened #62 "Hover on light and dark theme"
I can improve the effect on light and dark theme doing hover effect .Please assign me the work.
![hover_on](https://user-images.githubusercontent.com/108950724/193442119-c5caec87-3b74-46d4-bd2e-b66e2fc78017.png)

[2022-10-02 08:10] #30 closed

[2022-10-02 08:32] leesha19 commented on #36
the image sould be in the right side and the content and buttons at left

[2022-10-02 09:01] DeveloperAshish8 commented on #20
Hey everyone who are working for this issue, please refer to the ux_guidelines for preloader recently added.

[2022-10-02 12:53] naXa777 commented on #62
is it the same issue that's resolved in this PR https://github.com/DeveloperAshish8/CodeChamp-s-Website/pull/63 ?

[2022-10-02 14:13] mgjain9871 opened #66 "Create a Page Up Scroll Button"
There is no Scroll Up button and having it makes the user's work easy.
Please assign me this under Hacktoberfest 2022
@DeveloperAshish8

[2022-10-02 14:26] thisisharsh7 commented on #28
kindly review this issue.

[2022-10-02 15:35] DeveloperAshish8 commented on #66
Go ahead @mgjain9871

[2022-10-02 15:38] subhashis2204 opened #68 "UI improvement for the Navbar Section"
# Objective
I would like to improve the alignment and the overall UI experience for the Navbar Section.

[2022-10-02 15:44] DeveloperAshish8 commented on #62
Sorry this is now fixed

[2022-10-02 15:44] #62 closed

[2022-10-02 15:50] Tasmiya-k opened #69 "Spelling Error in opportunities container class"

[2022-10-02 16:13] Shaba1406 opened #72 "Improvement in Scroll Bar"
I Want to Improve the Scroll bar design.
![CodeChamp - Google Chrome 02-10-2022 21_40_56](https://user-images.githubusercontent.com/97939567/193464508-15be6219-800d-4a5a-a2be-1de8eed3de90.png)
this is the current design of it want to enhance it more.

[2022-10-02 16:16] Shaba1406 commented on #60
I want to work on this issue please assign me @DeveloperAshish8

[2022-10-02 16:32] DeveloperAshish8 commented on #68
Please provide a clear look or attach some images in the issue description, which you want to add.

[2022-10-02 16:34] DeveloperAshish8 commented on #28
Please attach the video fixing the issue.

[2022-10-02 16:43] nabeel001 commented on #47
@DeveloperAshish8 can you please clearly explain your issue as I was not able to locate the link that you have specified anywhere in the README.md

[2022-10-02 16:54] douglasevaristo commented on #41
Hi, can i work on this?

[2022-10-02 16:56] ZahraShahid commented on #69
Can I work on this issue?

[2022-10-02 16:57] douglasevaristo opened #74 "Better image for website"
Can I make a better image for this initial session (in svg)?
<img width="1399" alt="Captura de Tela 2022-10-02 às 13 55 29" src="https://user-images.githubusercontent.com/4961282/193466337-5d0bee1e-4d65-4b88-8fd1-988085c06ea3.png">

[2022-10-02 16:57] ZahraShahid commented on #72
Can I contribute to this issue?

[2022-10-02 16:58] ST1LLWATER commented on #17
Whats the status, can I pick up this?

[2022-10-02 16:58] nabeel001 commented on #69
I would like to work on this issue and rectify the spelling error.

[2022-10-02 17:01] nabeel001 commented on #69
I have rectified the spelling error, Kindly verify and merge it

[2022-10-02 17:06] nabeel001 commented on #32
I would like to work on this issue and create the necessary PR template and Issue Templates. @DeveloperAshish8 Assign this issue to me.

[2022-10-02 18:06] subhashis2204 commented on #68
![Screenshot (2141)](https://user-images.githubusercontent.com/76895635/193469036-6b23c21d-bce2-4b6e-a515-f064aaf1a9c6.png)

As we can see that the contents in the navbar are not aligned correctly. I can work on aligning them correctly. Moreover, we can see that the last element of the navbar touches the right boundary of the screen. Fixing the alignment would also fix this.

[2022-10-02 19:27] ShivanshAr97 opened #79 "Improving Navbar"
Improvement in navbar by making it center, providing margin, padding.

![image](https://user-images.githubusercontent.com/96040322/193472518-f19607f5-4926-43bc-8dc0-b81a9fe055b3.png)

[2022-10-02 19:27] ShivanshAr97 commented on #79
Please assign it to me

[2022-10-02 19:32] mohakgupt opened #80 "Use browser's theme when loaded"
Hi CodeChamp ! I want to add the feature to detect browser's dark/light mode setting on loading and apply it. So that the user would not have to toggle explicitly. I will work on this under Hactoberfest 2022.

[2022-10-02 21:25] achiverram28 commented on #18
Please assign this to me

[2022-10-03 05:02] Aman0786-git commented on #17
I've made the changes waiting for the review

[2022-10-03 05:53] adi-uchiha opened #83 "feature: Automatically fetch youtube videos from channel"
Currently the website need to update whenever a new video is posted on the youtube channel.
I can add the functionaliy using [youtubeAPI](https://developers.google.com/youtube/v3) and little bit of javascript

feature: The latest videos will be uploaded on website automatically. No need to update the website manually

[2022-10-03 07:08] #18 closed

[2022-10-03 07:44] anangnovriadi opened #86 "add .gitigonore"
hi there
i will add .gitignore file

[2022-10-03 09:36] Shaba1406 commented on #39
I wanna Work on this issue @DeveloperAshish8

[2022-10-03 09:46] Himanshuiiit opened #87 "Add mailto: feature to the email button"
The email button directly redirect to the compose section of email but not to mailto:codechampcommunity@gmail.com.

This change will save some copy pasting and some rework.
Please allow me to wok in this.

[2022-10-03 10:51] #28 closed

[2022-10-03 16:59] RathoreAbhiii commented on #79
Can I work on this issue as well @ShivanshAr97? If yes, please assign it to me as well. Thanks!

[2022-10-04 07:06] #66 closed

[2022-10-04 07:58] #19 closed

[2022-10-04 12:55] sumitbaroniya commented on #79
Please assign me this issue. I would like to contribute in it.

[2022-10-04 12:56] sumitbaroniya commented on #35
Please assign me this issue. I would like to contribute in it under hacktoberfest'22

[2022-10-04 13:17] TechSpiritSS opened #91 "Code of Conduct"
I'll add the Code of Conduct File into this Project.

[2022-10-04 13:50] chaaals opened #92 "Fix internship page on mobile view and improve internship cards"
## Description
Internship page needs a quick fix because a part of the footer section in the mobile UI is causing things to overflow. I also want to improve the internship cards by adding a transition to smoothen things out once a user hovers out of the card.

In addition to further improvements in the internship card, what do you think about clamping the about section to 5-6 lines?

## Screenshot

[2022-10-04 15:07] DeveloperAshish8 commented on #92
Go for it @chaaals .

[2022-10-04 16:09] DeveloperAshish8 commented on #36
Got for it @leesha19 , let's make it response for this device as well.

[2022-10-04 16:23] leesha19 commented on #36
Ohk

On Tue, Oct 4, 2022, 9:40 PM Ashish Kumar ***@***.***> wrote:

[2022-10-04 19:09] Akansha0211 opened #96 "Adding Carousel for the Feedback"
@DeveloperAshish8  Hey I have seen the website having carousel for the Feedback , so that people just can click on the right and left arrows to check more feedbacks , we can add some dummy also rn to check the Feature
![image](https://user-images.githubusercontent.com/49263297/193905205-13a90d0b-e8ed-4d59-b21c-8cbf956f2e08.png)

[2022-10-05 03:41] DeveloperAshish8 commented on #96
Yes @Akansha0211 , We can do that but right now we doesn't have enough feedbacks.

[2022-10-05 03:47] #92 closed

[2022-10-05 04:47] chaaals opened #97 "SUGGESTION: Improve the way we display internship cards"
## Description
Hey @DeveloperAshish8 ! Thanks for merging my latest PR ❤️. While I was working on it, I thought of an improvement that other people can contribute to. It's basically improving the way we display internship cards.

## Steps
In a script tag in the internships.html file
- Create an array of objects that contain all of the data for the internship card
Example:
![image](https://user-ima

[2022-10-05 06:15] ankita-das-26 opened #98 "Redesigning logo"
Can you please assign me to redesign the logo for your website

[2022-10-05 10:54] Akansha0211 commented on #96
okay no issues, will look for other things then

[2022-10-05 11:58] Akansha0211 commented on #97
Hey @chaaals , you talking about JSX thing right. Need to inject React cdn inside that internships page itself and then that will work.

[2022-10-05 11:58] theseus-alt commented on #97
I'd be happy to make this change!

[2022-10-05 12:00] #20 closed

[2022-10-05 12:02] chaaals commented on #97
Hi @Akansha0211 ! You don't need React CDN for this one nor JSX. What you see above is a template string. You can append that inside a parent div and it will work.

[2022-10-05 12:03] chaaals commented on #97
Sure @theseus-alt but wait for @DeveloperAshish8 to confirm this issue and label it as hacktoberfest

[2022-10-05 12:10] anchal-gupta opened #100 "Push Notifications"
Push notifications are small, pop-up messages sent to a user's device that appear even when the app isn't open. I am willing to integrate Push Notifications for Chrome & Firefox browser by which you can communicte to users about news, events and annoucements.

If you are interested in adding this feature to your project, I can go ahead and share some of the best notification providers that are ava

[2022-10-05 12:16] Akansha0211 commented on #97
okay @chaaals  got it.

[2022-10-05 14:24] SanDiego2049 opened #101 "Improving the FAQ accordion"
While the accordion is active, the background color turns light blue which messes with the color scheme of the entire page. Kindly assign me to make the colors blend in the css file.

[2022-10-05 14:29] SanDiego2049 opened #102 "Improving the overall responsiveness on mobile"
After using mobile simulator chrome extension on the demo link, I saw that the site needs major improvements on phone screens. Uncentered texts, leftover padding affecting cards and images, displaced buttons and so on. Kindly assign me to put the affairs in order.

[2022-10-06 03:00] DeveloperAshish8 commented on #60
The current one is better as compared to in the image you showed @nileshlad09

[2022-10-06 03:01] #60 closed

[2022-10-06 03:03] #29 closed

[2022-10-06 03:06] #17 closed

[2022-10-06 03:09] DeveloperAshish8 opened #104 "Improvement in Preloader"
The preloader is not displaying correctly.

The duration between home page and internship page is without preloader, you can add here also.

Anyone's who wants to work just comment down

[2022-10-06 03:59] nihal-soni opened #105 "I want to contribute to your repo by adding some cheatsheet"
This will be very beneficial for beginner

[2022-10-06 05:17] hamzailyas237 commented on #104
I want to contribute to this issue for the hactoberfest purpose, please assign it to me.

[2022-10-06 05:19] RishabhJain0721 commented on #104
#Hi
 @DeveloperAshish8 do you want to add the preloder between the two pages ?
Please assign me.

[2022-10-06 12:48] DeveloperAshish8 commented on #105
Do you want to add pdfs ?

[2022-10-06 17:11] nihal-soni commented on #105
No I will write as markdown

[2022-10-07 05:15] DeveloperAshish8 commented on #104
Go ahead @hamzailyas237, don't forget to add video after edits in PR for quick review.

[2022-10-07 05:16] DeveloperAshish8 commented on #105
Please share the images after adding in our discord server.

[2022-10-07 05:17] DeveloperAshish8 commented on #102
Go ahead @SanDiego2049 .

[2022-10-07 05:31] hamzailyas237 commented on #104
what do you want to show on loading?  The pre-loader.gif that was given. ?

[2022-10-07 07:53] #101 closed

[2022-10-07 08:45] #104 closed

[2022-10-07 14:12] Saksh8 opened #109 "Grammatical errors in description of codechamp"
CodeChamp is the Community of Coding Enthusiasts, Where we Share
          Resources, Roadmaps and Opportunities Updates to explore technologies
          also, We organize various Workshops, Sessions for our folks to learn
          new things. Together we aim to explore the untouched world of
          technologies.

There should be one "," in line 137
also
description could be made more impactf

[2022-10-07 18:33] Saksh8 commented on #109
![Screenshot_20221008-000129_Chrome](https://user-images.githubusercontent.com/95751531/194625997-1139da9f-e60a-4de3-b2eb-63e0d2260e9c.jpg)
](url)

[2022-10-07 18:34] Saksh8 commented on #109
The description of code champ needs improvement

[2022-10-07 19:18] SanDiego2049 commented on #102
The amount of work is overwhelming. You made use of both vanilla css in high amounts which isn't a good practice when using a framework already. What I'd suggest is scrapping the entire css file, removing non-bootstrap classes from the html file and building with bootstrap mainly then complimenting with a little css. in essence, my strong suggestion is restarting the entire project, that is the on

[2022-10-08 12:05] Aakash441 opened #112 "Improvement in home page"
I would like to add a discord symbol in join us button indicating that clicking the join us button on home page will take me to discord. Either this or do something that will show the join us button is taking me to discord because as a user I didn't liked it when I was redirected to discord on clicking join us

[2022-10-08 12:09] PravinPadalkar78 opened #113 "Bug"
if we are in dark mode and tries to click on internship/jobs , website automatically changes to light mode . I would like to Fix this issue .
#hacktoberfest #bug

[2022-10-08 12:13] PravinPadalkar78 commented on #113
Please assign this issue to me ,so that i can start working on it

[2022-10-08 17:05] mindexpert7546 commented on #68
can you assign me

[2022-10-09 02:04] DeveloperAshish8 commented on #113
You are good to go @PravinPadalkar78 .
Please add a short video after fixing the issue in PR

[2022-10-09 02:06] DeveloperAshish8 commented on #72
You are good to go @Shaba1406 ,
Please attach some images after edits in PR.

[2022-10-09 02:07] #96 closed

[2022-10-09 04:07] sumitbaroniya commented on #68
please assign me this issue

[2022-10-09 05:37] agarwalson02 commented on #100
I am sure to process this task well within the assigned time by using javascript . So kindly assign this task to me @DeveloperAshish8

[2022-10-09 05:46] #97 closed

[2022-10-09 05:47] DeveloperAshish8 commented on #100
As a community, there is no need to send push notification to our members. Those who are willing to learn together are always welcomed

[2022-10-09 05:47] #100 closed

[2022-10-09 05:48] DeveloperAshish8 commented on #41
Please share a gif or video of what you want to do.

[2022-10-09 05:50] DeveloperAshish8 commented on #61
Go ahead @Nakamcode

[2022-10-09 07:14] ShrutiMishra-2002 opened #118 "Change navbar UI"

[2022-10-09 07:15] ShrutiMishra-2002 commented on #118
@DeveloperAshish8 please assign me this issue

[2022-10-09 13:01] Yasshu55 opened #122 "Not redirecting team members profile to Linkedin when clicked on picture and name"
When we click on an image or name in the Our Team Members section, it does not redirect to the linkedin profile. it only redirects to the LinkedIn profile when click on LinkedIn image.

I would like to make it such a way that when clicked on the image and name it redirects to the linkedin profile.

I would like to work on this issue please assign it to me.

[2022-10-09 13:07] SahityaRoy opened #123 "Blog Page for your community"

[2022-10-09 13:24] DeveloperAshish8 commented on #122
That's intensional @Yasshu55 , we have provided below a LinkedIn icon for better understanding as In mobile view user can slide left or right to see more team members.

[2022-10-09 13:33] DeveloperAshish8 commented on #123
Hey @SahityaRoy , Currently we do not have blogs , we will add once we discuss within our community members and then release a form for so.

[2022-10-09 13:35] Yasshu55 commented on #122
Ohk then it's fine...but my code does not affect how it looks in pc or mobile or any view. It looks the same, but when clicked on the name or image instead of the icon even then it redirects. As many times people on various screen sizes click on the image or name to open the profile.

[2022-10-09 15:18] MsMLyons opened #124 "Improvements to home page copy for the "Be a part of us" section"
Hello, Dear Maintainers!

I am participating in Hacktoberfest2022 and would like to make the following suggestions for the "Be a part of us" section of your home page by creating this issue. If you accept the issue, I am ready to create a pull request.

Please consider my proposal for these small changes in the copy (text) of the section.

I am happy to also discuss any of the proposed changes wit

[2022-10-09 17:09] aakash-kumar-gorai commented on #113
hey @DeveloperAshish8, I worked on this issue to get it fixed please check my pr #125

[2022-10-09 17:37] coder-chahal opened #126 "Alignment in team member section"
Heyy @DeveloperAshish8 sir, i want to work on this issue please assign this issue to me:)

[2022-10-09 20:47] Petsamuel opened #127 "Separate files"
manage file structure/Architecure

[2022-10-10 14:45] leesha19 commented on #36
@DeveloperAshish8

[2022-10-10 15:04] codingkush opened #128 "Enhance the UI of " Be a Part of Us" section"
I visited Codechamp website...and i found that the Be a Part of Us section is not looking good because cards are very simple..so i want to enhance the UI of this section by making Neumorphism cards so that it's look amazing 😍🤩

[2022-10-11 08:26] nihal-soni commented on #105
No I will write as markdown

On Thu, Oct 6, 2022, 6:18 PM Ashish Kumar ***@***.***> wrote:

[2022-10-11 14:12] DeveloperAshish8 commented on #128
Please share the screenshot of what you want to  do ?

[2022-10-11 14:15] DeveloperAshish8 commented on #124
Go ahead @MsMLyons .

[2022-10-11 14:16] #123 closed

[2022-10-11 14:16] #122 closed

[2022-10-11 14:17] DeveloperAshish8 commented on #118
please share the screenshot of what you exactly want to do @ShrutiMishra-2002 .

[2022-10-11 17:17] Daksheshapkare opened #133 "Question"
I want to add some codes of pythons for hacktoberfest like sorts etc
Can i

[2022-10-11 17:29] terrifricker opened #134 "Rewording of website copy"
I found your repository in the Hacktoberfest discord channel looking for places to contribute.  Your site is incredible.  I'm still a beginning coder, but happen to be a native English speaker.  I might be more help in rewording some of the content of the copy on your site than helping with the coding.

I would like to suggest the following change to the description of CodeChamp.

From:

To:

[2022-10-11 18:17] terrifricker commented on #134
I suggest the following changes to copy in the Be a Part of Us section.

![png-frameArtboard 1](https://user-images.githubusercontent.com/51532684/195168796-60a7a7b1-2e0d-46db-bb46-ce701b52e7f4.png)
![png-frameArtboard 2](https://user-images.githubusercontent.com/51532684/195168800-047acfa6-59ec-4e0f-bdd2-c193f2740bc6.png)
![png-frameArtboard 3](https://user-images.githubusercontent.com/51532684/1

[2022-10-11 18:19] terrifricker commented on #134
I would suggest the following changes for the Be a Part of Us section.
![png-frameArtboard 1](https://user-images.githubusercontent.com/51532684/195169236-0a849885-57f2-4310-9a19-4f09210a01c4.png)
![png-frameArtboard 2](https://user-images.githubusercontent.com/51532684/195169240-4acda36b-2b3b-4c7c-b2b0-5ef4f1d91b48.png)
![png-frameArtboard 3](https://user-images.githubusercontent.com/51532684/195

[2022-10-11 19:56] bhoopesh369 commented on #102
Can i work on this issue

[2022-10-12 14:12] #124 closed

[2022-10-12 14:25] DeveloperAshish8 commented on #134
Good @terrifricker , but the required changes are already done in PR #135 .

[2022-10-12 14:25] #134 closed

[2022-10-12 14:26] DeveloperAshish8 commented on #133
Sorry, but we are only allowing bug fixes and features PRs

[2022-10-12 14:26] #133 closed

[2022-10-12 14:27] DeveloperAshish8 commented on #127
please provide more details.

[2022-10-12 14:27] DeveloperAshish8 commented on #126
Please provide some screenshots of the work you want to do.

[2022-10-12 14:30] #109 closed

[2022-10-12 14:30] #72 closed

[2022-10-12 14:32] DeveloperAshish8 commented on #36
Go ahead and create a PR

[2022-10-12 14:32] #39 closed

[2022-10-12 15:49] leesha19 commented on #36
#137 here it is check it

[2022-10-12 17:21] terrifricker commented on #134
How about just the changes to the description of CodeChamp on the home page?  The changes suggested are in my first comment.

[2022-10-12 17:23] terrifricker opened #139 "Rewording of CodeChamp description on home page"
I would like to suggest the following change to the description of CodeChamp.

From:

To:

[2022-10-13 14:26] codingkush commented on #128
Like this...

You can see that in this Be a Part Of Us section will looks amazing 🤩

![images (2)](https://user-images.githubusercontent.com/78756312/195623941-24bc3cc9-43df-4ff5-8984-a0a184b3a208.jpeg)
__

[2022-10-13 17:33] Nakamcode commented on #61
sure, thanks

[2022-10-14 14:04] codingkush commented on #128
Pls assign me this issue under hacktobetfest'22

[2022-10-15 00:14] #127 closed

[2022-10-15 14:38] sri-rishi commented on #126
Hey @DeveloperAshish8 I want to work on this issue

![image](https://user-images.githubusercontent.com/72429483/195992202-c7931f8f-e9cc-4c0f-94d6-fd8bc4c16802.png)

and also on hamburger is not seen in dark mode only visible on hovering

[2022-10-15 15:00] Vedant-Manjrekar opened #143 "Change GitHub Logo to White when shifting to dark-mode."
Change GitHub Logo (in join community) to White when shifting to dark-mode as it is not properly visible.

@DeveloperAshish8 I would like to work on it.

Please assign the issue to me.

[2022-10-15 15:10] Vedant-Manjrekar commented on #143
Update:
@DeveloperAshish8 I have worked on the issue and its ready, if you assign me this issue i can quickly make a PR.

[2022-10-15 15:12] #61 closed

[2022-10-15 15:13] #139 closed

[2022-10-15 15:13] sri-rishi commented on #102
Hey @DeveloperAshish8  can I work on this issue

![image](https://user-images.githubusercontent.com/72429483/195993920-d13d79a5-1744-4d86-8039-534d24639707.png)

and also on hamburger is not visible in dark mode it's only visible on hover

[2022-10-15 15:17] DeveloperAshish8 commented on #102
Please create a new issue for the same @sri-rishi

[2022-10-15 15:18] DeveloperAshish8 commented on #143
Please share some screenshots for better understanding.

[2022-10-15 15:20] DeveloperAshish8 commented on #128
Please share the screenshots of the word done for our website so, that it could be understandable by us that we need that or not @codingkush

[2022-10-15 15:25] sri-rishi commented on #102
Sure

[2022-10-15 15:25] Vedant-Manjrekar commented on #143
Before:
<img width="1429" alt="Screenshot 2022-10-15 at 8 51 55 PM" src="https://user-images.githubusercontent.com/93585735/195994519-684fec12-0072-41f7-ba98-04729c290f00.png">

After:
<img width="1440" alt="Screenshot 2022-10-15 at 8 53 43 PM" src="https://user-images.githubusercontent.com/93585735/195994534-49224964-8583-4f0f-912e-1a5f519c6257.png">

It will change according to light/dark mode

[2022-10-15 15:27] sri-rishi opened #144 "changing hamburger color to white in dark mode"
![image](https://user-images.githubusercontent.com/72429483/195994642-1c349f5b-0cb0-48b1-8a67-d200e200aed4.png)

@DeveloperAshish8  can you please assign me this issue

[2022-10-15 15:29] DeveloperAshish8 commented on #144
Rename the issue to changing hamburger color to white in dard mode. @sri-rishi

[2022-10-15 17:53] Ritika122001 opened #146 "Change the shade of Dark Theme"
I would like to change the shade of dark theme. The Current dark theme is too much bright.
Kindly assign this to me!!

[2022-10-16 05:41] Jiya-garg9971 commented on #144
please assign this issue to me under hacktoberfest.

[2022-10-16 06:08] DeveloperAshish8 commented on #144
Go ahead @sri-rishi

[2022-10-16 06:16] Vedant-Manjrekar commented on #143
Hey @DeveloperAshish8 any update? I posted the screenshots.

[2022-10-16 06:16] Rishabhjain2002 commented on #98
Is this issue still open??? Can i work on it...?

[2022-10-16 06:32] GazalBandil commented on #35
hey i have a better experience with color theory and I want to work on this issue please assign me this .

[2022-10-16 08:12] #144 closed

[2022-10-16 08:12] Saloni098 opened #148 "Improving the 'Why to join us?' section"
There are errors in the description under the 'Why to join us?' section. I wish to correct them.

![description](https://user-images.githubusercontent.com/83643870/196025438-807af2cd-e6e9-4cc7-924f-c0be45ad4cf7.png)

Please assign it to me.

[2022-10-17 02:41] bhoopesh369 commented on #113
Can I work on this issue @DeveloperAshish8

[2022-10-17 14:07] DeveloperAshish8 commented on #148
Please explain the errors @Saloni098 .

[2022-10-17 18:05] dlucifer8 commented on #148
@DeveloperAshish8 Let me point out some errors:
1. The bullet point text does not have the correct font size
2. Selection of a proper image so that it is suitable for both light and dark mode

 A bit of change to the files, and all will be good.
I hope you assign me the project.

[2022-10-18 04:44] Saloni098 commented on #148
There are certain grammatical errors, for eg 'keeps to updated' , 'intership' etc.
Also, the image can be selected keeping in mind the light and dark modes.

[2022-10-18 06:41] Vedant-Manjrekar commented on #143
@DeveloperAshish8 ??????

[2022-10-18 06:54] DeveloperAshish8 commented on #148
Yes @Saloni098 , and please remove the background of the image for better UX.

Go for it.

[2022-10-18 06:55] DeveloperAshish8 commented on #143
Ok create a PR for the same @Vedant-Manjrekar

[2022-10-18 06:56] #102 closed

[2022-10-18 07:17] Vedant-Manjrekar commented on #143
@DeveloperAshish8 Done 👍🏽

[2022-10-18 13:32] #148 closed

[2022-10-18 20:15] anubhav2102 opened #152 "Dark Mode Button position"
I think the position of dark mode button should be visible on front page only, by clicking the burger icon first and then clicking on it is not that UI friendly.
Can i work on this issue?

[2022-10-18 20:16] DeveloperAshish8 commented on #146
Please share some screenshots of after edits for better understanding @Ritika122001 .

[2022-10-18 20:17] DeveloperAshish8 commented on #152
Please share some screenshots of the design you want to implement @anubhav2102 .

[2022-10-18 21:09] taanii opened #153 "Section title isn't getting displayed when clicked on navbar"
When we click "About" or "Opportunities", or any other section on Navbar, it's showing the content but not the main heading of section.

I would like to make the following changes for better user experience:

Before
![image](https://user-images.githubusercontent.com/54447400/196545002-5e5ed282-732a-4148-9d34-769c6b21949d.png)

After
![image](https://user-images.githubusercontent.com/54447400/19654

[2022-10-18 23:37] AdityaPote opened #154 "Card component hover issue"
Card component doesn't have hover property in "our events "section

[2022-10-19 08:26] #143 closed

[2022-10-19 08:49] anubhav2102 commented on #152
![Screenshot (302)](https://user-images.githubusercontent.com/76780167/196642978-313f598d-7954-4ee2-a9b9-8193ae6022b2.png)
![Screenshot (301)](https://user-images.githubusercontent.com/76780167/196642986-57fa8026-067b-4772-9f67-9b7aa9319e0b.png)

For the mobile view the dark mode button is appearing after we click the burger icon button, but it should come outside near the burger menu button itsel

[2022-10-19 09:38] Devashish-Bhandari opened #155 "Add Margin After Every Section"
A little margin on top of every section would make the website look more beautiful and clean.
Please allow me to add these margins.

This is how the website will look after that.

![margin-top](https://user-images.githubusercontent.com/96977199/196654533-b2c472b9-d445-4dc1-b609-5183a9561983.png)

![margin-top2](https://user-images.githubusercontent.com/96977199/196655086-81f4919c-8527-4a1d-8ac5-d1

[2022-10-19 09:45] Devashish-Bhandari opened #156 "Making the Card's content center aligned"
The content of the card would look better when center aligned.
Please allow me to make these changes.

Here's the screenshot of the same.

![cards-center](https://user-images.githubusercontent.com/96977199/196657215-b1907097-5694-483e-9237-f79736844f5d.png)

[2022-10-19 14:11] #128 closed

[2022-10-19 14:13] #47 closed

[2022-10-19 14:14] #98 closed

[2022-10-19 14:17] DeveloperAshish8 commented on #153
Go ahead @taanii .

[2022-10-19 17:29] christusdsouza opened #157 "Feature: Highlight active navbar section on scroll"
UI enhancement for single/one webpage showing active navbar links while scrolling through the linked navbar section
![unknown](https://user-images.githubusercontent.com/46989701/196752092-8db7b4c3-5bcb-494b-a416-7f51cd4472db.gif)

[2022-10-19 17:36] christusdsouza opened #159 "Add workflow pipelines for error detection"
Add workflow pipelines to streamline new changes without breaking changes

[2022-10-19 19:51] DeveloperAshish8 commented on #159
Please elaborate the issue and share screenshots after edits if possible @christusdsouza .

[2022-10-19 19:55] DeveloperAshish8 commented on #156
The current one is better than this one I think @Devashish-Bhandari . Do you have any other suggestion?

[2022-10-19 19:55] #156 closed

[2022-10-19 19:57] DeveloperAshish8 commented on #155
Its looking wider @Devashish-Bhandari . Please check out the already opened issues.

[2022-10-19 19:57] #155 closed

[2022-10-19 20:15] Devashish-Bhandari commented on #156
I just noticed that the "Hacktoberfest" and the "Join Us" button follow the invalid way of linking a button to a Hyperlink according to the HTML 5 conventions.
The hyperlinks should be linked to button in this way.

`<form style="display: inline" action="http://example.com/" method="get">
  <button>Hacktoberfest</button>
</form>`

Can  I make those changes?

[2022-10-20 05:17] #157 closed

[2022-10-20 09:34] manika137 opened #160 "Enhancing the internships/jobs section"
Hey @DeveloperAshish8,
I'd like to add the title to the internships/jobs section which isn't present. Would also like to improve the visibility in the dark mode.
Please assign me this issue.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/80244229/196912546-f15530b8-1289-40b3-948c-dfdd9514b612.png">

[2022-10-20 11:26] DeveloperAshish8 commented on #160
Please share the screenshots post edits for better understanding.

[2022-10-20 17:46] manika137 commented on #160
Changes screenshots
<img width="960" alt="image" src="https://user-images.githubusercontent.com/80244229/197020789-019af0ab-ca7d-411d-a093-190f0fd19f38.png">
<img width="960" alt="image" src="https://user-images.githubusercontent.com/80244229/197020880-18ea88ee-8edc-4ca8-860b-0e7b53e46177.png">

[2022-10-20 18:54] DeveloperAshish8 commented on #160
Go Ahead @manika137 .

[2022-10-21 08:50] bhoopesh369 opened #163 "Dark-mode bug"
When toggling between internships/jobs page to others the dark-mode changes to white mode

[2022-10-21 08:51] bhoopesh369 commented on #163
can i work on this issue @DeveloperAshish8

[2022-10-22 12:24] DeveloperAshish8 commented on #163
Go ahead @bhoopesh369 .

[2022-10-22 12:25] bhoopesh369 commented on #163
I have submitted a PR @DeveloperAshish8

[2022-10-22 12:27] bhoopesh369 commented on #163
PR #164

[2022-10-22 12:33] msaimraz commented on #154
Hi @AdityaPote, Kindly assign this issue to me.

[2022-10-22 14:31] #163 closed

[2022-10-23 04:23] #160 closed

[2022-10-23 06:13] lakshay007 opened #166 "Navbar does not change color to black in dark mode"
this causes the navbar elements to be unreadable
<img width="1512" alt="Screenshot 2022-10-23 at 11 41 55 AM" src="https://user-images.githubusercontent.com/34618792/197377001-862ca922-63bf-4858-b573-6078be4ff16c.png">
I would like to make it look something like this
<img width="1512" alt="Screenshot 2022-10-23 at 11 37 43 AM" src="https://user-images.githubusercontent.com/34618792/197377014-55a2e

[2022-10-23 06:18] Rahulbaran opened #167 "bug in color mode toggler"
Hi, I found a bug in color mode toggler button, can I try to fix it?

[2022-10-23 06:41] JP109 opened #169 "Multiple improvements to the Navbar"
1. Navbar's text coincides with homepage's text. I would fix this by making the navbar opaque.
![image](https://user-images.githubusercontent.com/60847674/197377744-614eedad-14bb-4f1a-bc77-4d4646c9aadd.png)

2. Navbar's background stays white even while in dark mode. It's a bit hard on the eyes, so I'd like to assign it an appropriate dark shade.
![image](https://user-images.githubusercontent.com/

[2022-10-23 06:44] Rahulbaran commented on #167
- I was checking site performance using **lighthouse** and found your site quite slow specially for mobile users.

- I am suggesting some points which can be done to improve site perfomance:-
  1. Compress the images and convert them in **webP** format.
  2. Use a bundler to reduce the size of codebase
  3.  Also use CSS variables for colors which will be very easy to manage while toggling between

[2022-10-23 06:47] Rahulbaran commented on #169
I have also gone through the site and reason behind the second point (your 2nd point) is a bug. Try to refersh to the site and you will see it as dark

[2022-10-23 07:06] JP109 commented on #169
Looks like the bug has been fixed yeah. Closing the issue.

[2022-10-23 07:06] #169 closed

[2022-10-23 08:09] anjalisingh23 opened #170 "Navbar needs improvement"

[2022-10-23 08:53] Muhammad235 opened #171 "Scroll to top 🔝 button"
I want to make the scroll to top button display when the page is scrolled and not fixed.

[2022-10-23 09:59] DeveloperAshish8 commented on #171
Please share a video or gif that you want to do @Muhammad235 .

[2022-10-23 09:59] DeveloperAshish8 commented on #170
Please elaborate the issue or share the screenshots of what you want to do @anjalisingh23

[2022-10-23 10:01] DeveloperAshish8 commented on #167
Please share video or gift of the issue after edits for better understanding.

[2022-10-23 10:02] DeveloperAshish8 commented on #166
Go ahead @lakshay007 .

[2022-10-23 10:09] Muhammad235 commented on #171
This is an example https://aspireclub100.netlify.app/ the scroll to top button pops up until you scroll and not fixed

[2022-10-23 10:10] CoderAayush2104 opened #172 "Add effect in navbar"
Please assign this to me.

[2022-10-23 12:01] anjalisingh23 commented on #170
The color coordination of navbar and the rest of the page is not satisfactory. Basically the navbar merges with the rest of the page but there should be clear distinction between them which makes website look more better

[2022-10-23 12:19] lakshay007 commented on #166
@DeveloperAshish8 I fixed this and opened a pull request, please look into it

[2022-10-23 13:58] #166 closed

[2022-10-23 14:03] #112 closed

[2022-10-23 14:03] #118 closed

[2022-10-23 14:03] #36 closed

[2022-10-23 14:04] #35 closed

[2022-10-23 15:20] Muhammad235 commented on #171
Could you please assign this task to me

[2022-10-23 16:30] DeveloperAshish8 commented on #171
Go ahead @Muhammad235

[2022-10-23 16:31] DeveloperAshish8 commented on #172
Please share some screenshots or gif for better understanding.

[2022-10-23 18:03] Ajith6901 opened #174 "Email mentioned in the footer could be presented differently."
Currently ,
the mail mentioned below "Patna ,India". is just written in plain

![Screen Shot 2022-10-23 at 11 22 49 PM](https://user-images.githubusercontent.com/79219844/197407960-5292f749-7cb4-4745-8fea-c14f2f5c8b77.png)

But we could change it in such a way that when someone hits the mail id , automatically open their email client , add the your  email in the "To address"

![Screen Shot 2022-10

[2022-10-23 18:04] Ajith6901 commented on #174
Also , I could change the color to original text  as well. just adding the functionality only.

[2022-10-23 21:38] Akansha0211 opened #176 "Enhanced Contacts section"
Hey @DeveloperAshish8  if you have noticed carefully the form was looking quite weird in the Contacts section, as it was sticked with the image , also its width is too much.

How it was looking earlier
![image](https://user-images.githubusercontent.com/49263297/197419476-5ab8b1f7-df63-4b1c-a076-2a21a9dd4844.png)

The new look
![image](https://user-images.githubusercontent.com/49263297/197419493-c8

[2022-10-23 21:39] Akansha0211 commented on #176
@DeveloperAshish8  plz do let me know if more changes comes to your mind.

[2022-10-24 09:28] DeveloperAshish8 commented on #176
Go ahead @Akansha0211

[2022-10-24 14:52] Timmotal opened #178 "Better Nav Inteface"
![added box shadow to navigation](https://user-images.githubusercontent.com/43627445/197556594-228e2b25-c5b9-4841-9d5d-7ae498fc4321.jpg)
 it was looking like this before
![noShadow](https://user-images.githubusercontent.com/43627445/197556858-bbe2f82e-f9aa-4984-8115-d9f03781e3f4.jpg)

[2022-10-25 03:53] #178 closed

[2022-10-25 06:46] Anuragk9026 commented on #172
@CoderAayush2104 , please assign this project to me

[2022-10-25 06:48] Anuragk9026 commented on #87
@Himanshuiiit ,Please assign his issue to me

[2022-10-25 11:58] #176 closed

[2022-10-25 21:57] ishikajn8126 opened #182 "Hidden headings on jumping sections"
I'd like to fix this
![ezgif](https://user-images.githubusercontent.com/72145053/197889417-0715ce1c-25b3-4b80-9b64-c02d42725617.gif)

[2022-10-26 07:42] #182 closed

[2022-10-26 13:30] #171 closed

[2022-10-26 13:32] DeveloperAshish8 commented on #174
already corrected in other PRs

[2022-10-26 13:32] #174 closed

[2022-10-26 13:57] ishikajn8126 commented on #153
Hey @DeveloperAshish8 can i take this up? The assignee seems to be inactive..

[2022-10-26 16:39] DeveloperAshish8 commented on #153
Go ahead @ishikajn8126 .

[2022-10-26 17:05] anjaligoswami opened #184 "Mistakes in home page ( grammatical)"
Hey! @DeveloperAshish8
There are some spelling and grammatical mistakes in the home page. It is not looking good. So, I want to fix it.
Here is a screenshot of it:
![image](https://user-images.githubusercontent.com/75528719/198090583-5eea57fc-1e6f-4fb1-a5fc-78d3277a2604.png)

Please assign this issue to me, so that I can fix it asap :)

[2022-10-26 22:21] anjaligoswami opened #186 "I have 2 more intern openings, I have added it in the website"
please assign this issue to me, so that my pull request can be merged.
Thank you

[2022-10-27 08:17] DeveVivek commented on #184
Can you please assign me this task.

[2022-10-27 08:18] DeveVivek commented on #172
Please assign me this task.

[2022-10-27 08:24] DeveloperAshish8 commented on #186
Go ahead @anjaligoswami

[2022-10-27 08:25] DeveloperAshish8 commented on #184
Not accepting minor changes

[2022-10-27 08:25] #184 closed

[2022-10-27 08:28] DeveloperAshish8 commented on #172
Those who wants to work on issue, Please share screenshots or gif after edits

[2022-10-27 08:37] #153 closed

[2022-10-27 08:43] ishikajn8126 opened #189 "improvement in internship/jobs cards"
made some alignment changes in the the 1st card (can be compared with 2nd card -the current ui of all cards)
 i would like to make these changes to all cards if it seems valuable

![image](https://user-images.githubusercontent.com/72145053/198235844-134b5663-a24b-406f-93d4-4e704979c59a.png)

[2022-10-27 09:43] anjaligoswami opened #190 "improvement in internship/ jobs"

[2022-10-27 12:01] prabhleenn commented on #186
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if you assign me this.

[2022-10-27 12:01] prabhleenn commented on #113
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if you assign me this.

[2022-10-27 13:12] ishikajn8126 opened #191 "Navbar not behaving as desrired in 992-1200px"
navbar is not occupying full length and contents are flowing out of it in 992-1200px screen width

https://user-images.githubusercontent.com/72145053/198293606-a298177a-d94a-42a2-bc3d-966b3da09144.mp4

[2022-10-27 14:09] DeveloperAshish8 commented on #191
Starting working on it @ishikajn8126

[2022-10-27 14:12] #186 closed

[2022-10-27 15:17] Timmotal opened #193 "fix preloader z-index, up for grabs??"
i added design and i'm currently working on another project, and i figured this out at the last last moment

![zindex_problem](https://user-images.githubusercontent.com/43627445/198329592-371358e8-5783-4f8c-ba0c-e76f3b1c7d78.jpg)

[2022-10-27 15:22] DeveloperAshish8 commented on #193
Attach a gif or video for better understanding @Timmotal .

[2022-10-27 15:31] Timmotal opened #194 "make landing text bright in dark-mode, up for grabs?"
![notBrightEnough](https://user-images.githubusercontent.com/43627445/198333513-b5c5ae21-f032-4f42-9ac0-b36689060d2b.jpg)

[2022-10-27 18:33] Timmotal commented on #193
@DeveloperAshish8
Here it is.
![codechamp](https://user-images.githubusercontent.com/43627445/198370791-463b34bc-0c1d-4042-8188-12ba5ef82431.gif)

[2022-10-28 08:12] DeveloperAshish8 commented on #194
please add an image of after edits text as well.

[2022-10-28 08:14] DeveloperAshish8 commented on #193
No @Timmotal , it will affect UX badly , current one is better.

[2022-10-28 08:14] #193 closed

[2022-10-28 08:16] DeveloperAshish8 commented on #189
Not making major difference @ishikajn8126

[2022-10-28 08:16] #189 closed

[2022-10-28 08:19] DeveloperAshish8 commented on #190
Please elaborate the issue @anjaligoswami

[2022-10-28 08:21] DeveloperAshish8 commented on #170
Please share Screenshots or videos post edit.

[2022-10-28 08:24] DeveloperAshish8 commented on #113
Resolved in other PRs

[2022-10-28 08:24] #113 closed

[2022-10-28 08:35] Timmotal commented on #193
Alrighty.

[2022-10-28 10:37] #190 closed

[2022-10-29 05:28] #191 closed

[2022-10-29 06:21] simransia opened #196 "Brand logo is not properly aligned on smaller screen sizes"
The navbar brand logo is not properly aligned on a smaller screen size. It is having unnecessary extra margin from the left which is not looking good.

![Screenshot (8)](https://user-images.githubusercontent.com/88017902/198817060-4b8b6c7c-4647-4c76-aee1-42274d79eea3.png)

[2022-10-29 06:29] simransia commented on #196
Hello @DeveloperAshish8, please look into this issue and kindly assign it to me with a hacktobest label. I will be happy to work on it.

[2022-10-30 01:40] DeveloperAshish8 commented on #196
Go ahead @simransia .

[2022-10-30 07:08] ayushrathore111 commented on #194
sir i want to work on this can you assign me this issue..

[2022-10-30 07:51] AnshuPathak-88825 opened #198 "Theme changer button should be pointer"
pls assign me this issue

[2022-10-30 07:53] AnshuPathak-88825 opened #199 "bug : Text overlapping"
![image](https://user-images.githubusercontent.com/78332454/198868145-2c8ddf39-c5f1-463f-85c0-7f70980dbcdf.png)
nav bar buttons texts are overlapping with boxes content

[2022-10-30 07:53] AnshuPathak-88825 commented on #199
pls assign me this issue

[2022-10-30 07:59] DeveloperAshish8 commented on #198
Not accepting minor changes @AnshuPathak-88825

[2022-10-30 07:59] #198 closed

[2022-10-30 08:00] DeveloperAshish8 commented on #194
Add an screenshot of what you can do @ayushrathore111

[2022-10-30 08:27] ayushrathore111 commented on #194
@DeveloperAshish8 _
![Screenshot (36)](https://user-images.githubusercontent.com/94514710/198869373-ac70f454-5a67-4b45-91a0-d5c6967cdc62.png)

[2022-10-30 09:17] #196 closed

[2022-10-30 09:22] ayushrathore111 commented on #194
![Screenshot (36)](https://user-images.githubusercontent.com/94514710/198871411-59a9fd97-50b4-4425-b499-218e7d013dfe.png)
@DeveloperAshish8 i have changed this ...

[2022-10-30 09:23] DeveloperAshish8 commented on #194
Go ahead @ayushrathore111

[2022-10-30 09:59] ayushrathore111 commented on #87
sir i wanna do this can you please assign it to me

[2022-10-30 12:32] ayushrathore111 commented on #199
Please assign to me this issue i want to work on it.....

[2022-10-31 03:16] a-parris21 opened #202 "Bug : Reloading the page causes `Hacktoberfest` button to start flashing"
While on the [CodeChamp home page](https://codechamp.tech/), reloading the page with cause the `Hacktoberfest` button to begin flashing as if it is being repeatedly hovered over with the cursor.
This bug occurs when the page is reloaded via any method.
Clicking the `Reload` button on the browser's ribbon or pressing `F5` on Windows also trigger the bug.

Example:

![codechamps tech__flashing-hackt

[2022-10-31 03:41] DeveloperAshish8 commented on #202
That's intensional @a-parris21 , we are disabling the button by tonight.

[2022-10-31 03:41] #202 closed

[2022-10-31 03:43] #194 closed

[2022-10-31 03:45] DeveloperAshish8 commented on #87
Already corrected in some other PRs

[2022-10-31 03:45] #87 closed

[2022-10-31 04:44] a-parris21 commented on #202
Ah, alright then.

[2022-11-02 01:32] #199 closed

[2022-11-02 01:33] #68 closed